.bobastudio {
    height: get-size(1.5);
    line-height: get-size(1.5);
    text-decoration: none;
    white-space: nowrap;
   a {
     @media screen{
        background-image: url('dist/img/boba-studio/boba-studio.svg');
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: get-size(1.5);
        line-height: get-size(1.5);
        text-indent: -9999px;
        width: 84px;
        margin-left: get-size(0.25);
     }
     @media print {
       &::after {
         @include pseudo(" hello@weareboba.com",inline-block);
       }
     }
    }
}
