.pagination {
  list-style-type: none;
  margin: $element-margin 0;
  display: flex;
  flex-wrap: wrap;

  .nav-next {
    margin-right: 0;
  }

  li {
    text-transform: uppercase;
    margin-top: 0;

    &.active a {
      background: get-color(neutral,600);
      color: get-color(neutral,000) !important;
    }

    &.nav-total,
    a {
      border: $borders;
      padding: get-size(0.5) get-size(0.75);
    }

    &.nav-total {
      background: get-color(neutral,400);
      color: get-color(neutral,000);
    }
  }

  a {
    @include smooth(background, color);
    text-decoration: none;
    background: get-color(neutral,000);
    border-left: 0 !important;
    display: block;

    &,
    &:link,
    &:visited {
      color: get-color(neutral,700);
    }

    &:hover,
    &:focus {
      background: get-color(neutral);
      color: get-color(neutral,000);
    }
  }
}
