.pagination {
  list-style-type: none;
  margin: $element-margin 0;
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 1em;
    width: 1em;
    top: -.1em;
  }

  .nav-next {
    margin-right: 0;
  }

  li {
    text-transform: uppercase;
    margin-top: 0;

    &.active a {
      background: get-color(neutral,600);
      color: get-color(neutral,000) !important;
    }

    &.nav-total,
    &.nav-ellipses,
    a {
      border: $borders;
      padding: get-size(0.5) get-size(0.75);
    }

    &.nav-total {
      background: get-color(neutral,400);
      color: get-color(neutral,000);
      border-right-width: 0px;
    }
    &:last-of-type a {
      border-right-width: $border-width;
    }

    &.nav-ellipses {
      border-right: 0;
      color: get-color(neutral,400)
    }

  }

  li a {
    @include smooth(background, color);
    text-decoration: none;
    background: get-color(neutral,000);
    border-right-width: 0px;
    display: block;

    &,
    &:link,
    &:visited {
      color: get-color(neutral,700);
    }

    &:hover,
    &:focus {
      background: get-color(neutral);
      color: get-color(neutral,000);
    }
  }
}
