.search-form {
  display: inline-flex;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  @extend %mb;
  .search-label {
    width: 100%;
    max-width: 300px;
  }
  .search-field, .search-submit {
    margin: 0;
  }
  .search-field {
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .search-submit {
    line-height: 1;
    padding: .8em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    .icon {
      height: 1.2em;
      width: 1.2em;
    }
  }
}
