// SETTINGS
$block-padding: (
  "root": get-size(2),
  "sm": get-size(4),
  "md": get-size(6),
);

:root {
  @each $point, $size in $block-padding {
    @if $point == "root" {
      --block-padding: #{$size};
    } @else {
      @include above($point) {
        --block-padding: #{$size};
      }
    }
  }
}

section.block,
header.block {
  padding-top: var(--block-padding);
  padding-bottom: calc(var(--block-padding) - #{$element-margin});
  position: relative;
}

.block.is-full-width {
  padding-top: 0;
  padding-bottom: 0;
  img,
  .embed-container,
  .google-map {
    margin-bottom: 0;
  }
  // Some full width blocks have innerblocks - reinstate the top padding on these to open them back up and prevent crashing
  .inner-content {
    @each $point, $size in $block-padding {
      @if $point == "root" {
        padding-top: $size;
      } @else {
        @include above($point) {
          padding-top: $size;
        }
      }
    }
  }
}

// If two blocks follow with the same bg color, remove the top padding so that there is not a chasm of space
@each $name, $color in $background-colors {
  .block.bg-#{$name} {
    &:not(.is-full-width) {
      // Parent container not also full width
      & + & {
        padding-top: 0; // Remove padding top if it follows a block with the same bg color
      }
    }
    &:not(.is-full-width) + &.is-full-width {
      .inner-content {
        padding-top: 0;
      }
    }
  }
}

.block.bg-white + .block.bg-white,
.block.bg-transparent + .block.bg-transparent {
  padding-top: 0; // Remove padding top if it follows a block with the same bg color
}

.block .button-list {
  .button {
    @include below(sm) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
