section.block,
header.block {
  @each $point, $size in $block-padding {
    @if $point == "root" {
      padding-top: $size;
      // Negates for the last element in a block, rather than using :last-of-type
      padding-bottom: $size - $element-margin;
    } @else {
      @include above($point) {
        padding-top: $size;
        // Negates for the last element in a block, rather than using :last-of-type
        padding-bottom: $size - $element-margin;
      }
    }
  }
  position: relative;
}

.block.is-full-width {
  padding-top: 0;
  padding-bottom: 0;
  img,
  .embed-container,
  .google-map {
    margin-bottom: 0;
  }
  // Some full width blocks have innerblocks - reinstate the top padding on these to open them back up and prevent crashing
  .inner-content {
    @each $point, $size in $block-padding {
      @if $point == "root" {
        padding-top: $size;
      } @else {
        @include above($point) {
          padding-top: $size;
        }
      }
    }
  }
}

// If two blocks follow with the same bg color, remove the top padding so that there is not a chasm of space
@each $name, $color in $background-colors {
  .block.bg-#{$name} {
    &:not(.is-full-width) {
      // Parent container not also full width
      & + & {
        padding-top: 0; // Remove padding top if it follows a block with the same bg color
      }
    }
    &:not(.is-full-width) + &.is-full-width {
      .inner-content {
        padding-top: 0;
      }
    }
  }
}

.block.bg-white + .block.bg-white {
  padding-top: 0; // Remove padding top if it follows a block with the same bg color
}

.block .button-list {
  .button {
    @include below(sm) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
