.google-map {
  width: 100%;
  height: get-size(24);
  @include above(md) {
    height: get-size(40);
  }
  margin-bottom: $element-margin;
  border: $borders;
}

// Fixes potential theme css conflict.
.google-map img {
 max-width: inherit !important;
}

.gm-style {
  font: {
    family: inherit;
    weight: inherit;
    size: inherit;
  }
  .gm-style-iw {
    color: $color-text;
    font: {
      weight: inherit;
      size: inherit;
    }
  }
  .address {
    font-size: font-size('size-m1');
  }
}
