.no-border {
  border: none !important;
  &-top {
    border-top: none !important;
  }
  &-bottom {
    border-bottom: none !important;
  }
  &-left {
    border-left: none !important;
  }
  &-right {
    border-right: none !important;
  }
}

.no-margin {
  margin: 0 !important;
  &-top {
    margin-top: 0 !important;
  }
  &-bottom {
    margin-bottom: 0 !important;
  }
  &-left {
    margin-left: 0 !important;
  }
  &-right {
    margin-right: 0 !important;
  }
}

.no-padding {
  padding: 0 !important;
  &-top {
    padding-top: 0 !important;
  }
  &-bottom {
    padding-bottom: 0 !important;
  }
  &-left {
    padding-left: 0 !important;
  }
  &-right {
    padding-right: 0 !important;
  }
}
