.text-white {
  color: #fff !important;
}

a[tabindex="-1"] {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit !important;
  }
}

.has-medium-font-size {
  @include above(md) {
    line-height: 1.4;
  }
}
.has-large-font-size {
  @include above(md) {
    line-height: 1.5;
  }
}

.color-white {
  color: v(color-white) !important;
}
