// 20/20 Class Prefix
//$pluginPrefix: "twentytwenty";

// 20/20 Handle Styles
$twenty20-handle-color: get-color(neutral,000);
$twenty20-handle-darker-color: get-color(neutral,800);
$twenty20-handle-stroke: 2px;
$twenty20-handle-circle-width: get-size(3);
$twenty20-handle-box-shadow: 0px 0px 12px rgba(#333,0.5);
$twenty20-handle-triangle-color: $twenty20-handle-color;
$twenty20-handle-triangle-color-darker: $twenty20-handle-darker-color;
$twenty20-handle-triangle-size: 8px;
$twenty20-handle-triangle-position: 8px;
$twenty20-handle-radius: 1000px;

// 20/20 Overlay Styles
$twenty20-overlay-bg: rgba(#000,0.5);
$twenty20-overlay-label-color: get-color(neutral,000);
$twenty20-overlay-label-bg: rgba(get-color(neutral,000), .2);
$twenty20-overlay-label-height: get-size(3);
$twenty20-overlay-label-width: get-size(6);
$twenty20-overlay-label-padding: get-size(1);
$twenty20-overlay-label-font-size: font-size(-1);
$twenty20-overlay-label-font-weight: $weight-bold;
$twenty20-overlay-label-letter-spacing: 0.1em;
$twenty20-label-radius: 2px;
