// COUNTDOWN
$countdown-value-background: linear-gradient(180deg, get-color(neutral,800) 0%, get-color(neutral,800) 50%, get-color(neutral,600) 50%, get-color(neutral,600) 100%);
$countdown-value-weight: $weight-xbold;
$countdown-value-color: #fff;
$countdown-desc-weight: $weight-semibold;
