// TESTIMONIALS
$testimonial-font-size: font-size('size-4');
$testimonial-font-weight: $weight-light;
$testimonial-font-style: normal;
$testimonial-color: get-color(neutral);

$testimonial-cite-font-size: 1em;
$testimonial-cite-font-weight: $weight-bold;
$testimonial-cite-font-style: normal;
$testimonial-cite-color: get-color(neutral,700);
