// NAVBAR
// $generate-navbar: true;
// $nav-expands: 900px; // Point at which the nav kicks in. You'll also need to change this in the .js to produce a clickable drop down when responsive
$navbar-bg-color: var(--nav_background_colour);
// Parent Level Links
$navbar-font-size: font-size(4);
// $navbar-font-size-expanded: font-size(0);
$navbar-font-family: var(--nav_font);
// $navbar-font-weight: $weight-bold;
// $navbar-text-transform: none;
$navbar-link-color: var(--nav_link_colour);
// $navbar-link-bg-color: $navbar-bg-color;
// $navbar-link-border: 1px solid rgba($color-white,0.1);
// Links: Hover
$navbar-link-hover-color: var(--nav_link_hover_colour);
$navbar-link-hover-bg-color: var(--nav_link_hover_background_color);
// $navbar-link-hover-weight: $navbar-font-weight;
// Child Level Links
// $navbar-sublink-font-size: font-size(1);
// $navbar-sublink-font-size-expanded: font-size(-1);
// $navbar-sublink-font-family: $font-primary;
// $navbar-sublink-font-weight: $navbar-font-weight;
// $navbar-sublink-text-transform: $navbar-text-transform;
// $navbar-sublink-font-weight-hover: $navbar-link-hover-weight;
// Links: Padding
// $navbar-link-padding-x: get-size(0.75);
// $navbar-link-padding-y: get-size(0.5);
// $navbar-link-padding-expanded-x: get-size(0.75);
// $navbar-link-padding-expanded-y: get-size(0.75);
// THESE SETTINGS APPLY ABOVE $nav-expands ONLY
$navbar-sublink-color: var(--nav_sublink_colour);
$navbar-sublink-bg-color: var(--nav_sublink_background_colour);
$navbar-sublink-hover-color: var(--nav_sublink_hover_colour);
$navbar-sublink-hover-bg-color: var(--nav_sublink_hover_background_colour);
// $navbar-dropdown-width: get-size(16);
// $navbar-start-flex-align: stretch;
// $navbar-end-flex-align: center;
// $navbar-dropdown-anchors-right-after: 3;

// Off canvas navbar. Only applies if you add a class of .is-off-canvas to the .navbar-menu element
// $navbar-offcanvas-body-overlay: rgba(0,0,0,0.9);
// $navbar-offcanvas-transition-speed: .35s;
// $navbar-offcanvas-bg-color: $navbar-bg-color;
// $navbar-offcanvas-width: 80%;
// $navbar-offcanvas-maxwidth: 480px;
