// BLOCKS
$block-padding: (
  "root": get-size(2),
  "sm": get-size(4),
  "md": get-size(6),
);

// COVER BLOCK
$cover-heading: (
  "root": v(font-size-4),
  "md": v(font-size-4),
  "lg": v(font-size-5),
);

$cover-text: (
  "root": v(font-size-2),
  "md": v(font-size-2),
  "lg": v(font-size-4),
);

// TESTIMONIALS
$testimonial-font-size: v(font-size-4);
$testimonial-font-weight: $weight-light;
$testimonial-font-style: normal;
$testimonial-color: get-color(neutral);

$testimonial-cite-font-size: 1em;
$testimonial-cite-font-weight: $weight-bold;
$testimonial-cite-font-style: normal;
$testimonial-cite-color: get-color(neutral, 700);

// ICONS

$inline-icon-margin: 0.5em;

// Social Channel Branding
$social-channels: (
  "facebook": #1877f2,
  "instagram": #e4405f,
  "linkedin": #0077b5,
  "pinterest": #bd081c,
  "twitter": #1da1f2,
  "vimeo": #1ab7ea,
  "youtube": #ff0000,
  "whatsapp": #25d366,
  "microsoftteams": #6264a7,
  "skype": #00aff0,
  "zoom": #2d8cff,
  "wikipedia": #000,
  "github": #181717,
  "snapchat": #fffc00,
);

// ACCORDION
$accordion-heading-color: v(color-headings-preferred);
$accordion-heading-font-size: v(font-size-2);
$accordion-heading-font-weight: $weight-bold;
$accordion-heading-background-color: get-color(primary, 50);
$accordion-heading-arrow-color: $accordion-heading-color;

$accordion-heading-hover-color: v(color-white);
$accordion-heading-hover-background-color: get-color(primary, 300);
$accordion-heading-hover-arrow-color: $accordion-heading-hover-color;

$accordion-heading-active-color: $accordion-heading-hover-color;
$accordion-heading-active-background-color: $accordion-heading-hover-background-color;
$accordion-heading-active-arrow-color: $accordion-heading-hover-arrow-color;

$accordion-padding: get-size(1);

// COUNTDOWN
$countdown-value-background: linear-gradient(
  180deg,
  get-color(neutral, 800) 0%,
  get-color(neutral, 800) 50%,
  get-color(neutral, 600) 50%,
  get-color(neutral, 600) 100%
);
$countdown-value-weight: $weight-xbold;
$countdown-value-color: v(color-white);
$countdown-desc-weight: $weight-semibold;

// SLIDER
$slider-arrow-background: rgba(get-color(neutral), 0.9);
$slider-arrow-color: v(color-white);
$slider-arrow-hover-background: rgba(get-color(neutral, 700), 1);
$slider-arrow-hover-color: v(color-white);
$slider-arrow-border-radius: 50%;
$slider-arrow-size: 2em;

$slider-pagination-font-size: v(font-size--1);
$slider-pagination-color: get-color(neutral, 400);
$slider-pagination-hover-color: get-color(neutral, 700);
$slider-pagination-active-color: get-color(neutral, 600);
$slider-pagination-active-transform: scale(1.15);

$slider-dots-size: get-size(0.75);
$slider-dots-border-radius: 50%;
$slider-dots-background-color: $slider-pagination-color;
$slider-dots-border-color: $slider-dots-background-color;
$slider-dots-border-width: 1px;
$slider-dots-hover-background-color: $slider-pagination-hover-color;
$slider-dots-hover-border-color: $slider-dots-hover-background-color;
$slider-dots-active-background-color: $slider-pagination-active-color;
$slider-dots-active-border-color: $slider-dots-active-background-color;

$slider-progress-bar-color: get-color(neutral, 200);
$slider-progress-bar-height: get-size(0.25);
$slider-progress-bar-border-radius: 0px;
