/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  MAPS
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.google-map {
  width: 100%;
  height: 600px;
  @extend %mb;
  border: $borders;
}

// Fixes potential theme css conflict.
.google-map img {
 max-width: inherit !important;
}

.gm-style {
  font: {
    family: inherit;
    weight: inherit;
    size: inherit;
  }
  .gm-style-iw {
    font: {
      weight: inherit;
      size: inherit;
    }
  }
  .address {
    font-size: $font-size--1;
  }
}
