/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  NUMERIC PAGINATION
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.pagination {
  list-style-type: none;
  margin: $element-margin 0;
  display: flex;

  .nav-next {
    margin-right: 0;
  }

  li {
    text-transform: uppercase;

    &.active a {
      background: lighten($color-text, 30%);
      color: $color-background;
    }

    &.nav-total,
    a {
      border: $borders;
      padding: $element-padding/3 $element-padding/2;
    }

    &.nav-total {
      background: lighten($color-text, 50%);
      color: $color-background;
    }
  }

  a {
    @include smooth(background, color);
    text-decoration: none;
    background: $color-background;
    border-left: 0 !important;
    display: block;

    &,
    &:link,
    &:visited {
      color: lighten($color-text, 30%);
    }

    &:hover,
    &:active,
    &:focus {
      background: lighten($color-text, 50%);
      color: $color-background;
    }
  }
}
