/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  SECTIONS
  Styling for site wide sections
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section {

  padding-top: $section-padding;
  padding-bottom: $section-padding - $element-margin; // Negates for the last element in a section, rather than using :last-of-type
  position: relative;

  // ACF Section: Image
  &__image {
    img {
      width: 100%; // Force image to be fullwidth
    }
  }

  &__full-width {
    // Fixes issues of letterboxing
    padding-top: 0;
    padding-bottom: 0;
    img, .embed-container {
      margin-bottom: 0;
    }
  }

  // ACF Section: Image Gallery
  &__gallery {
    .gallery-item {
      display: inline-block;
      text-align: center;
      @extend .col;
      @extend .md-4; // TODO: This can be done better, for most clients they will want a nicer looking gallery anyway
      margin: $element-margin/2 0;
    }
  }
}


// TODO: This needs some more work. Need to test full_width and different/same preceding before bg colour
// If two sections follow with the same bg color, remove the top padding so that there is not a chasm of space
@each $name, $color in $theme-colors {
  .section.bg-#{$name} {
    &+& {
      padding-top: 0;  // Remove padding top if it follows a section with the same bg color
    }
  }
}

// Some full width sections have headers or preambles - reinstate the top padding on these to open them back up and prevent crashing
.section__full-width {
  .section-header, .preamble {
    margin-top: $section-padding;
  }
  header+.preamble {
    // If there is a header we don't want the top margin
    margin-top: 0 !important;
  }
}
