.woocommerce {
  #respond input#submit,
  a.button,
  button.button,
  input.button {
    // Make consistent with Jellyfish...
    padding: $button-padding;
    text: {
      decoration: none;
      transform: $button-text-transform;
      align: center;
    }
    font: {
      size: 0.9rem;
      weight: $button-font-weight;
      family: $button-font-family;
    }
    border: {
      width: $button-border-width;
      style: solid;
      radius: $button-border-radius;
    }

    // TODO: Come back to replace the buttons? Removed on upgrading Jellyfish UI to v4.0.0
  }
}
