#site-header-cart {
  //position: relative;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: $color-text;

  .icon {
    margin-right: $inline-icon-margin;
    top: 0;
  }

  li {
    display: block;
    width: 100%;
  }

  h2 {
    font-size: v(font-size-4);
    margin-bottom: $element-margin;
    color: $color-headings-preferred;
  }

  .amount {
    font-weight: $weight-bold;
  }
  .count {
    font-weight: $weight-normal;
  }

  .widget_shopping_cart {
    display: none;
    background: $color-white;
    text-align: left;
    padding: 0;
    border: $card-border-color $card-border-style $card-border-width;
    padding: $card-padding;
    .total {
      border-top: 0;
      display: block;
      margin-top: 0.6em;
    }
  }
  .widget_shopping_cart_content {
    .buttons {
      margin-bottom: 0;
      a {
        margin-bottom: 0;
        margin-top: 0;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .product_list_widget {
    margin: 0;
    padding: 0;
    a {
      padding: 0;
    }
    a,
    a:link,
    a:visited {
      background-color: transparent;
      color: $link-color;
    }
    a:hover,
    a:focus {
      color: $link-visited;
    }
    img {
      width: 40px;
    }
  }

  .woocommerce-mini-cart {
    //font-size: v(font-size--1);
    line-height: 1.3;
  }
  .mini_cart_item {
    margin-bottom: 0;
    padding: 0.5em 0 0.5em 2em;
    border-bottom: $borders;
    .quantity {
      font-size: v(font-size--1);
    }
  }
  a.remove {
    color: $color-text !important;
    top: 0.2em;

    &:hover {
      background: transparent;
      color: get-color(error) !important;
      transform: scale(1.1);
    }
  }
  .wc-forward {
    // TODO: Come back to replace the buttons? Removed on upgrading Jellyfish UI to v4.0.0
  }
  .checkout {
    // TODO: Come back to replace the buttons? Removed on upgrading Jellyfish UI to v4.0.0
  }

  @include above(768px) {
    .widget_shopping_cart {
      position: absolute;
      top: 100%;
      width: 50vw;
      max-width: 400px;
      z-index: 9000;
      left: -999em;
      display: block;
    }

    &:hover,
    &.focus {
      .widget_shopping_cart {
        left: auto;
        right: 0;
        display: block;
      }
    }
  }
}
