@mixin create_woomessage($base-color) {
  @include create_callout($base-color);
  border-top-color: get-color($base-color, 800);

  a {
    color: get-color($base-color);

    &:hover,
    &:focus
     {
      color: get-color($base-color, 700)
    }
  }

  &::before {
    color: get-color($base-color, 700);
  }

  a.button {
    @include create_button($base-color);
  }
}

.woocommerce {

  &-message,
  &-info,
  &-error,
  &-noreviews,
  p.no-comments {
    clear: both;
    border: $borders;
    padding: $element-padding;
    border-radius: $callout-border-radius;
    @include create_woomessage('success');
  }

  &-info,
  &-noreviews,
  p.no-comments {
    @include create_woomessage('primary');
  }

  &-error {
    @include create_woomessage('error');
  }

  &-error,
  &-message,
  &-info {
    &::before {
      top: $element-padding;
    }
    padding-left: $element-padding + 30px; // 30px adds some space after the icon
  }
}
