.woocommerce {
  &-message,
  &-info,
  &-error,
  &-noreviews,
  p.no-comments {
    clear: both;
    border: $borders;
    padding: $element-padding;
    border-radius: $callout-border-radius;
    @include createCallout(success);
  }

  &-info,
  &-noreviews,
  p.no-comments {
    @include createCallout(primary);
  }

  &-error {
    @include createCallout(error);
  }

  &-error,
  &-message,
  &-info {
    &::before {
      top: $element-padding;
    }
    padding-left: $element-padding + 30px; // 30px adds some space after the icon
  }
}
