/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  SPLIDE THEME
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.slider {
  margin-bottom: $element-margin;
  img {
    @include above(md) {
      margin-bottom: 0;
    }
  }
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: $slider-arrow-size;
  height: $slider-arrow-size;
  border-radius: $slider-arrow-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  color: $slider-arrow-color;
  background: $slider-arrow-background;
  border: 1px solid $slider-arrow-background;
  @include smooth(background, color, border, transform);
  &:hover, &:focus {
    outline: none;
    color: $slider-arrow-hover-color;
    box-shadow: none;
    transform: translateY(-50%) scale(1.05);
  }
  &:focus {
    background: $slider-arrow-background;
    border-color: $slider-arrow-background;
  }
  &:hover {
    background: $slider-arrow-hover-background;
    border-color: $slider-arrow-hover-background;
  }
}

.splide__arrow svg {
  width: 65%;
  height: 65%;
  fill: currentColor;
  path {
    fill: inherit;
  }
}
.splide__arrow--prev {
  left: 1em;
  @include above(sm) {
    left: calc(-#{$slider-arrow-size} - #{get-size(0.75)});
  }
  @include above(1270px) {
    left: calc(-#{$slider-arrow-size} - #{get-size(2)});
  }
  @include above(xl) {
    left: calc(-#{$slider-arrow-size} - #{get-size(4)});
  }
  svg {
  transform: scaleX(-1)
  }
}
.splide__arrow--next {
  right: 1em;
  @include above(sm) {
    right: calc(-#{$slider-arrow-size} - #{get-size(0.75)});
  }
  @include above(1270px) {
    right: calc(-#{$slider-arrow-size} - #{get-size(2)});
  }
  @include above(xl) {
    right: calc(-#{$slider-arrow-size} - #{get-size(4)});
  }
}

.has-inner-arrows {
  .splide__arrow--prev {
    left: 1em !important
  }
  .splide__arrow--next {
    right: 1em !important
  }
}

.splide__pagination {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin-top: $element-margin;
}

.splide__pagination__page {
  display: inline-block;
  margin: get-size(0.25);
  padding: 0;
  width: $slider-dots-size;
  height: $slider-dots-size;
  border-radius: $slider-dots-border-radius;
  background-color: $slider-dots-background-color;
  border: $slider-dots-border-width solid $slider-dots-border-color;
  @include smooth(background, transform, border);
  &:hover, &:focus {
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background-color: $slider-dots-hover-background-color;
    border-color: $slider-dots-hover-border-color;
  }
}

.splide__pagination__page.is-active {
  transform: $slider-pagination-active-transform;
  border-color: $slider-dots-active-border-color;
  background-color: $slider-dots-active-background-color;
}

.has-pagination {
  .splide__pagination {
    counter-reset: a;
  }
  .splide__pagination__page {
    background: transparent;
    border: none;
    width: auto;
    height: auto;
    border-radius: 0;
    &::after {
      content: counter(a);
      counter-increment: a;
      color: $slider-pagination-color;
      font-size: $slider-pagination-font-size;
    }
    &:hover, &:focus {
      background-color: transparent;
      &::after {
        color: $slider-pagination-hover-color;
      }
    }
    &.is-active {
      background-color: transparent;
      &::after {
        color: $slider-pagination-active-color;
      }
    }
  }
}

// TODO: All of the below is untested as it is not used often in Splide Opts

.splide__progress__bar {
  width: 0;
  height: 3px;
  background: #ccc
}


.splide--nav>.splide__track>.splide__list>.splide__slide {
  border: 3px solid transparent
}

.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
  border-color: #000
}

.splide--nav>.splide__track>.splide__list>.splide__slide:focus {
  outline: none
}

.splide--rtl>.splide__arrows .splide__arrow--prev,
.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev {
  right: 1em;
  left: auto
}

.splide--rtl>.splide__arrows .splide__arrow--prev svg,
.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1)
}

.splide--rtl>.splide__arrows .splide__arrow--next,
.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto
}

.splide--rtl>.splide__arrows .splide__arrow--next svg,
.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1)
}

.splide--ttb>.splide__arrows .splide__arrow,
.splide--ttb>.splide__track>.splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%)
}

.splide--ttb>.splide__arrows .splide__arrow--prev,
.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev {
  top: 1em
}

.splide--ttb>.splide__arrows .splide__arrow--prev svg,
.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg)
}

.splide--ttb>.splide__arrows .splide__arrow--next,
.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 1em
}

.splide--ttb>.splide__arrows .splide__arrow--next svg,
.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg)
}

.splide--ttb>.splide__pagination {
  display: flex;
  flex-direction: column;
  bottom: 50%;
  left: auto;
  right: .5em;
  transform: translateY(50%)
}
