.block-image {
  img {
    width: 100%; // Force image to be fullwidth
  }
}

.is-full-width {
  .wp-element-caption {
    margin-bottom: 0;
    max-width: v(container-max-width);
    width: v(container-width);
    margin-left: auto;
    margin-right: auto;

    @each $point, $size in $block-padding {
      @if $point == "root" {
        padding-bottom: $size - $element-margin;
      } @else {
        @include above($point) {
          padding-bottom: $size - $element-margin;
        }
      }
    }
  }
}
