// Social Channel Branding
$social-channels: (
  "facebook": #1877f2,
  "instagram": #e4405f,
  "linkedin": #0077b5,
  "pinterest": #bd081c,
  "twitter": #1da1f2,
  "vimeo": #1ab7ea,
  "youtube": #ff0000,
  "whatsapp": #25d366,
  "microsoftteams": #6264a7,
  "skype": #00aff0,
  "zoom": #2d8cff,
  "wikipedia": #000,
  "github": #181717,
  "snapchat": #fffc00,
);

.email-address {
  margin-bottom: $element-margin;
}

@each $channel, $color in $social-channels {
  .icon__#{$channel} {
    color: $color;
  }
  a:hover,
  a:focus,
  a:active {
    .icon__#{$channel} {
      color: shade($color, 80%);
    }
  }
}

.social-channels {
  margin-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
  .icon {
    margin-right: $inline-icon-margin;
    width: 1em;
    height: 1em;
    @include smooth(color, transform);
  }
  a:hover,
  a:focus,
  a:active {
    .icon {
      transform: scale(1.1);
    }
  }
}
