.eplsdesign {
  height: 18px;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
  a {
    background-image: url($assets_folder + "img/epls/epls-design.svg");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-indent: -9999px;
    width: 100px;
    &:hover {
      background-image: url($assets_folder + "img/epls/epls-design-hover.svg");
    }
  }
}
