.woocommerce {

  #respond input#submit,
  a.button,
  button.button,
  input.button {

    // Make consistent with Jellyfish...
    padding: $button-padding;
    text:{
      decoration: none;
      transform: $button-text-transform;
      align: center;
    }
    font:{
      size: 0.9rem;
      weight: $button-font-weight;
      family: $button-font-family;
    }
    border:{
      width: $button-border-width;
      style: solid;
      radius: $button-border-radius;
    }

    @include create_button('neutral');

    &.alt {
      @include create_button(get-color(primary));
    }

    &.single_add_to_cart_button,
    &.checkout-button,
      {
      @include create_button(get-color(success));

    }

    &.disabled,
    &.disabled.alt,
    &:disabled {
      opacity: $button-disabled-opacity;
      padding: $button-padding;
    }
  }
}
