@mixin create_woomessage($bgcolor) {
  @include create_callout($bgcolor);
  border-top-color: shade($bgcolor, 90%);

  a {
    color: $bgcolor;

    &:hover,
    &:focus
     {
      color: shade($bgcolor, 80%)
    }
  }

  &::before {
    color: shade($bgcolor, 80%);
  }

  a.button {
    @include create_button($bgcolor);
  }
}

.woocommerce {

  &-message,
  &-info,
  &-error,
  &-noreviews,
  p.no-comments {
    clear: both;
    border: $borders;
    padding: $element-padding;
    border-radius: $callout-border-radius;
    @include create_woomessage(get-color(success));
  }

  &-info,
  &-noreviews,
  p.no-comments {
    @include create_woomessage(get-color(primary));
  }

  &-error {
    @include create_woomessage(get-color(error));
  }

  &-error,
  &-message,
  &-info {
    &::before {
      top: $element-padding;
    }
    padding-left: $element-padding + 30px; // 30px adds some space after the icon
  }
}
