//TODO: This component

.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $color-success;
	}

	&.short {
		color: $color-error;
	}

	&.bad {
		color: $color-error;
	}

	&.good {
		color: $color-warning;
	}
}
