.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: get-color(success);
	}

	&.short {
		color: get-color(error);
	}

	&.bad {
		color: get-color(error);
	}

	&.good {
		color: get-color(warning);
	}
}
