.woocommerce {
  ul.products {
    margin: 0;

    li.product {
      // (Product Card)
      margin-bottom: $element-margin*2;

      .woocommerce-loop-product__title {
        font-size: font-size('size-1');
      }

      a img {
        margin-bottom: 0;
      }

      .button {
        display: block;
        order: 2;
      }
      .price {
        color: $color-text;
        ins {
          color: get-color(success);
        }
      }
    }
    @include above(768px) {
      // Aligns buttons to bottom on larger screens
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li.product {
        display: flex;
        flex-direction: column;
        .woocommerce-LoopProduct-link {
          margin-bottom: auto;
        }
      }

    }
  }

  a.added_to_cart {
    // Link which appears when an item is added to basket
    text-decoration: underline !important;
    //text-align: center;
    display: block;
    order: 1;
  }

}
