.single-product {

  div.product {

    .stock {
      font-weight: bold;
      //margin: 0;
      &:empty::before {
        display: none;
      }

      &.in-stock {
        color: get-color(warning);
      }

      &.out-of-stock {
        color: get-color(error);
      }
    }

    p.price {
      color: $color-text;
      ins {
        color: get-color(success);
      }
    }

    span.price {
      // Variable product price
      display: block;
      color: $color-text;
      margin-bottom: $element-margin;
      ins {
        color: get-color(success);
        font-weight: bold;
      }
    }

    .woocommerce-grouped-product-list-item__price {
      ins {
        color: get-color(success);
        font-weight: bold;
      }
    }

    td.label {
      all: unset;
      display: table-cell;
      padding-top: 1em;

    }

    form.cart {

      &:not(.grouped_form):not(.variations_form),
      .variations_button {
        display: flex;
        align-items: stretch;

        div.quantity {
          margin-right: get-size(0.75);
          &.hidden {
            margin-right: 0;
          }

          .qty {
            margin: 0;
          }
        }
      }

      .group_table {
        td {
          vertical-align: baseline;
        }
      }
    }

    del {
      opacity: .5;
      font-size: font-size('size-m1');
    }

    .product_meta {

      font-size: font-size('size-m1');
      .sku_wrapper,
      .posted_in {
        display: block;
      }
    }

    div.woocommerce-product-gallery {

      .flex-viewport {
        //margin-bottom: .5em;
        margin-bottom: $element-margin;
      }

      .flex-control-thumbs {
        margin: 0 nh($element-margin) !important;

        li {
          padding: 0 h($element-margin);
          img {
            @include smooth(opacity);
          }
        }
      }
    }
  }
}
