/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TABLES
  Overrides default Woocommerce
  table styles
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.woocommerce {

  table.shop_table {
    // Inherit from Jellyfish
    border-radius: $border-radius;
    border: $borders;
    margin-bottom: $element-margin * 2;

    td,
    th {
      border-top: 0 !important; // Fix default behaviour to prevent clash with JellyFish
    }

    tfoot th,
    tfoot td {
      border-top: $border-width*2 solid $border-color !important;
      border-bottom: 0;
    }
  }

  table tr:last-of-type td {
    border-bottom: 0; // Fix default behaviour to prevent clash with JellyFish
  }

  .cart-subtotal th {
    border-bottom: $borders; // Fix default behaviour to prevent clash with JellyFish
  }

  table.shop_table_responsive {

    tr {
      td {
        &::before {
          // Makes content"attr(data-title)" not crush against input fields
          margin-right: 10px;
        }

        &.product-remove {
          a {
            text-align: left;
            // Nicer looking remove icon
            color: $color-text !important;

            &:hover {
              background: transparent;
              color: $color-error !important;
              transform: scale(1.1);
            }
          }
        }

        &.actions,
        &.download-actions {
          &::before {
            display: none;
          }
        }

        &.download-actions {
          .button {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  table.shop_attributes {
    border-top: $borders;

    td, th {
      border-bottom: $borders !important
    }
  }
}
