.testimonial-link {
  display: block;
  &,
  &:link,
  &:active,
  &:hover,
  &:focus {
    color: inherit !important;
    text-decoration: none;
  }
}

blockquote.testimonial {
  border-left: 0;
  padding-left: 0;
  font-style: normal;
  font-size: 1em;
  p {
    font-size: v(font-size-4);
    font-weight: $weight-light;
    font-style: normal;
    color: get-color(neutral);
  }
  cite {
    font-size: 1em;
    font-weight: $weight-bold;
    font-style: normal;
    color: get-color(neutral, 700);
    text-align: left;
  }
}
