// Headings

h1 {
  color: var(--h1_colour);
  font-family: var(--h1_font);
}

h2 {
  color: var(--h2_colour);
  font-family: var(--h2_font);
}

h3 {
  color: var(--h3_colour);
  font-family: var(--h3_font);
}

h4 {
  color: var(--h4_colour);
  font-family: var(--h4_font);
}

h5 {
  color: var(--h5_colour);
  font-family: var(--h5_font);
}

h6 {
  color: var(--h6_colour);
  font-family: var(--h6_font);
}
