/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  COUNTDOWN
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// SETTINGS
$countdown-value-background: linear-gradient(
  180deg,
  get-color(neutral, 800) 0%,
  get-color(neutral, 800) 50%,
  get-color(neutral, 600) 50%,
  get-color(neutral, 600) 100%
);
$countdown-value-weight: $weight-xbold;
$countdown-value-color: v(color-white);
$countdown-desc-weight: $weight-semibold;

.countdown {
  display: grid;
  text-align: center;
  // margin: 0 n(get-size(0.5)) $element-margin n(get-size(0.5));
  grid-template-columns: repeat(4, 1fr);
  grid-gap: get-size(1);

  .value {
    background: $countdown-value-background;
    padding: 0.4em 0;
    width: 100%;
    font-weight: $countdown-value-weight;
    line-height: 1;
    color: $countdown-value-color;
    font-size: v(font-size-5);
    @include above(sm) {
      font-size: v(font-size-6);
    }
    @include above(md) {
      font-size: v(font-size-7);
    }
    @include above(lg) {
      font-size: v(font-size-8);
    }
  }
  .small {
    margin-top: get-size(0.5);
    font-weight: $countdown-desc-weight;
    @include above(md) {
      font-size: v(font-size-1);
    }
  }

  .complete-text {
    display: none;
    font-size: v(font-size-3);
  }

  &.complete {
    .partial:not(.complete-text) {
      display: none;
    }
    .complete-text {
      display: block;
    }
  }
}
