.woocommerce {
  .comment-form-rating {
    label {
      font-weight: bold;
      margin: .5em 0 .25em 0;
    }
  }

  p.stars {

    a {

      &::before {
        color: $color-text;
        opacity: 0.25;
      }
    }

    &:hover {
      a {
        &::before {
          color: $link-color;
          opacity: 1;
        }
      }
    }

    &.selected {

      a.active {

        &::before {
          color: $link-color;
          opacity: 1;
        }

        ~a::before {
          color: $color-text;
          opacity: 0.25;
        }
      }

      a:not(.active) {

        &::before {
          color: $link-color;
          opacity: 1;
        }
      }
    }
  }
}

/**
 // removed as not sure where this is for now...

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  font-size: 1em;
  width: 5.3em;
  font-family: star;
  font-weight: 400;

  &::before {
    content: "\53\53\53\53\53";
    opacity: 0.25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }

  span::before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: $link-color;
  }
}
*/
