.wp-block-pullquote {
  font-size: 1em;
  p {
    font-size: v(font-size-3);
  }
}

.is-style-stripes {
  table {
    @extend .is-striped;
  }
}

.wp-block-audio,
.wp-block-embed__wrapper {
  margin-bottom: $element-margin;
}

.wp-element-caption {
  font-size: v(font-size--1);
  margin-top: $element-margin;
  margin-bottom: $element-margin;
}
a + .wp-element-caption {
  margin-top: 0;
}
