#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
  #payment {
    background: get-color(neutral, 200);
    border-radius: $border-radius;
    ul.payment_methods li {
      line-height: inherit;
    }
  }
  table.cart img {
    width: get-size(4);
    margin-bottom: 0;
  }
  @include above(768px) {
    .coupon {
      display: flex;
      #coupon_code {
        margin-right: get-size(0.75);
        width: get-size(12) !important;
      }
    }
  }
}
#order_comments {
  height: 300px;
}
