 .woocommerce {
   form {
    .form-row {
      display: block; // Reset because Jellyfish has a helper for .form-row that makes display:flex

      &.woocommerce-validated {
        input.input-text {
          border-color: get-color(success);
        }
      }

      &.woocommerce-invalid {
        input.input-text {
          border-color: get-color(error);
        }
      }
    }
  }
}
