// SLIDER
$slider-arrow-background: rgba(get-color(neutral), 0.9);
$slider-arrow-color: #fff;
$slider-arrow-hover-background: rgba(get-color(neutral,700), 1);
$slider-arrow-hover-color: #fff;
$slider-arrow-border-radius: 50%;
$slider-arrow-size: 2em;

$slider-pagination-font-size: font-size(-1);
$slider-pagination-color: get-color(neutral,400);
$slider-pagination-hover-color: get-color(neutral,700);
$slider-pagination-active-color: get-color(neutral,600);
$slider-pagination-active-transform: scale(1.15);

$slider-dots-size: get-size(0.75);
$slider-dots-border-radius: 50%;
$slider-dots-background-color: $slider-pagination-color;
$slider-dots-border-color: $slider-dots-background-color;
$slider-dots-border-width: 1px;
$slider-dots-hover-background-color: $slider-pagination-hover-color;
$slider-dots-hover-border-color: $slider-dots-hover-background-color;
$slider-dots-active-background-color: $slider-pagination-active-color;
$slider-dots-active-border-color: $slider-dots-active-background-color;

$slider-progress-bar-color: get-color(neutral,200);
$slider-progress-bar-height: get-size(0.25);
$slider-progress-bar-border-radius: 0px;
