.#{$pluginPrefix}-container img {
  width: 100%;
  margin-bottom: 0;
}
%label-structure {
  padding: $twenty20-overlay-label-padding;
  line-height: 1.3;
  font-weight: $twenty20-overlay-label-font-weight;
}

.#{$pluginPrefix}-container {
  margin-bottom: $element-margin;
}

.#{$pluginPrefix}-container.has-dark-handle {
  %handle-content {
    background: $twenty20-handle-darker-color;
  }
  .#{$pluginPrefix}-handle {
    border-color: $twenty20-handle-darker-color;
  }
  .#{$pluginPrefix}-horizontal & .#{$pluginPrefix}-handle {
    &:before {
      box-shadow: 0 $twenty20-handle-stroke 0 $twenty20-handle-darker-color, $twenty20-handle-box-shadow;
    }
    &:after {
      box-shadow: 0 (-$twenty20-handle-stroke) 0 $twenty20-handle-darker-color, $twenty20-handle-box-shadow;
    }
  }
  .#{$pluginPrefix}-vertical & .#{$pluginPrefix}-handle {
    &:before {
      box-shadow: $twenty20-handle-stroke 0 0 $twenty20-handle-darker-color, $twenty20-handle-box-shadow;
    }
    &:after {
      box-shadow: (-$twenty20-handle-stroke) 0 0 $twenty20-handle-darker-color, $twenty20-handle-box-shadow;
    }
  }
  .#{$pluginPrefix}-left-arrow {
    border-right-color: $twenty20-handle-triangle-color-darker;
  }
  .#{$pluginPrefix}-right-arrow {
    border-left-color: $twenty20-handle-triangle-color-darker;
  }
  .#{$pluginPrefix}-up-arrow {
    border-bottom-color: $twenty20-handle-triangle-color-darker;
  }
  .#{$pluginPrefix}-down-arrow {
    border-top-color: $twenty20-handle-triangle-color-darker;
  }
}
