// MODAL
$modal-overlay-color: #000;
$modal-overlay-opacity: 0.95;
$modal-close-color: #fff; // Close button outside of container
$modal-close-color-in: get-color(neutral,700); // Close button inside of container
$modal_caption_color: get-color(neutral,300); // Image Captions for modal type 'image'
$modal-border-radius: 0px;
$modal-bg-color: #ffffff;
$modal-max-width: 800px;
