# ignore node modules
node_modules/

# ignore Environment file
env.json

# ignore build files
package-lock.json

# -------------------------
# BEGIN Whitelisted Files
# -------------------------

# track these files, if they exist
!.gitignore
!.editorconfig
!.stylelintrc.yml
!.eslintrc
