.block-image {
  img {
    width: 100%; // Force image to be fullwidth
  }

  // If the block is full width it will have bottom padding: 0, but if we have a caption we need to put white space back in...
  &.is-full-width {
    .caption {
      padding-top: $element-margin;
      @each $point, $size in $block-padding {
        @if $point == 'root' {
          padding-bottom: $size - $element-margin;
        } @else {
          @include above($point) {
            padding-bottom: $size - $element-margin;
          }
        }
      }
    }
  }
}
