$transition: opacity 0.5s ease;
$transition-delay: 0.5s;

.play {
  z-index: 1;
  margin: 0;
  background-color: transparent !important;
  border-color: transparent !important;
  width: 30%;
  padding: 0;
  color: $color-white;
  max-width: get-size(8);
  transition: opacity 1s ease;
  &:hover,
  &:focus {
    opacity: 0.8;
    box-shadow: none;
  }
  .icon {
    width: 100%;
    height: auto;
  }
}

.video-wrapper {
  position: relative;
  cursor: pointer;
  .embed-container {
    opacity: 0;
    transition: $transition;
    transition-delay: $transition-delay;
  }
  &.playing {
    .video-overlay {
      opacity: 0;
      pointer-events: none;
    }
    .embed-container {
      opacity: 1;
    }
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 1;
  transition: $transition;
  transition-delay: $transition-delay;
  &::after {
    @include pseudo();
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    @include smooth(opacity);
    mix-blend-mode: multiply;
  }
  &:hover {
    &::after {
      opacity: 0.6;
    }
    .play {
      animation: pulse 1.4s infinite;
    }
  }
}
