.block__gallery {
  .gallery-item {
    display: inline-block;
    text-align: center;
    @extend .col;
    @extend .md-4; // TODO: This can be done better, for most clients they will want a nicer looking gallery anyway
    margin: $element-margin/2 0;
  }
}
