body {
  --wp--preset--font-size--small: #{font-size(-1)} !important;
  --wp--preset--font-size--medium: #{font-size(1)} !important;
  --wp--preset--font-size--large: #{font-size(2)} !important;
  @include above(md) {
    --wp--preset--font-size--medium: #{font-size(2)} !important;
    --wp--preset--font-size--large: #{font-size(3)} !important;
  }
}
