$handle_color: get-color(neutral,900);

// ACF Flexible Content Heading
.acf-fc-layout-handle {

  padding-left: get-size(1.5) !important;
  background: $handle_color !important;
  color: get-color(neutral,000) !important;
  font-weight: bold;

  .swatch {
    // Hugs the left side of the acf-handle and shows the user what bg colour is selected
    width: get-size(1);
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

}

// Removes borders from groups with class seamless applied
.acf-field-group {
  &.seamless {
    .acf-fields {
      border: 0;
      margin-left: n(get-size(0.75));
      margin-right: n(get-size(0.75));
      .-table & {
        margin-left: n(get-size(0.5));
        margin-right: n(get-size(0.5));
      }
    }
  }
}

// Nicer styling of handle icons
.acf-fc-layout-controls .acf-icon {
  background: get-color(neutral, 000) !important;
  &:hover {
    background-color: get-color(primary) !important;
    border-color: get-color(primary);
    color: choose-contrast-color(get-color(primary), get-color(neutral, 000), $handle_color);
  }
  &.-minus:hover {
    background-color: get-color(error) !important;
    border-color: get-color(error);
    color: choose-contrast-color(get-color(error), get-color(neutral, 000), $handle_color);
  }
  &.-plus:hover {
    background-color: get-color(success) !important;
    border-color: get-color(success);
    color: choose-contrast-color(get-color(success), get-color(neutral, 000), $handle_color);
  }
}

.acf-input label {
  font-size: 1em;
}

.acf-handle-right {
  .dashicons {
    opacity: .4;
  }
  font-weight: normal;
  position: absolute;
  left: 70%;
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: get-size(0.75);
}

#poststuff .acf-postbox .hndle {
  font-size: 1.2em; // header tab of ACF group
}

.acf-field {

  // Nicer formatting of descriptions
  p.description {
    margin-top: get-size(0.5);
    border: 1px solid rgb(243, 244, 245);
    border-left: 3px solid rgb(204, 204, 204);
    padding: get-size(0.5) get-size(0.75);
    color: $color-text;
  }

  .acf-input>p.description {
    // Description below input field
    margin-top: get-size(0.75);
  }
}

.acf-range-wrap {
  // Nicer range field format
  input[type="range"] {
    width: 75%;

  }

  input[type="number"] {
    width: 20% !important;
    max-width: 70px;
  }
}

.acf-tab-button {

  // Fix dashicon size in tabs
  .dashicons {
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin-top: get-size(0.25);
  }
}


// Wrap a button group in .swatches and use a span with class .swatch for the button to make the buttons appear as block colours
.swatches {
  label {
    padding: 0;
    border: 0;
    margin-right: get-size(0.5);
    border-radius: 0px !important;
    &.selected {
      border: 0 !important;
      background: none !important;
      .swatch {
        border: 3px solid #1e8cbe !important;
      }
    }
    &:hover {
      .swatch {
        border: 1px solid #1e8cbe !important;
      }
    }
  }
  .swatch {
    width: get-size(2);
    height: get-size(2);
    display: block;
    box-sizing: border-box;
    border-radius: 6px !important;
    border: 1px solid #eee;
  }
  &.texture {
    .swatch {
      width: get-size(3);
      height: get-size(3);
    }
  }
}

// Nicer formatting for button group with icons
.acf-has-icons {
  .acf-button-group {
    min-width: get-size(8);
    label {
      text-align: left;
    }
  }
}

// Hide Settings Cog from field group headers
.postbox-header .acf-hndle-cog {
  display: none !important;
  visibility: hidden !important;
}

// Allow Flex Wrap
.acf-button-group {
  flex-wrap: wrap;
  label {
    flex: 0;
  }
}


// Flexible Layout Options into a two column layout
.acf-fc-popup ul {
  flex-direction: row;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  .dashicons {
    opacity: .4
  }
  li {
    flex: 0 0 50%;
    &:nth-of-type(odd) {
      border-right: 1px solid rgba(get-color(neutral, 000), 0.2);
      box-sizing: border-box;
    }
  }
}
