.mce-i-resize {
  &:before {
    font-family: "tinymce", Arial;
  }
}
html .mceContentBody {
  padding: 20px;
  margin: 0;
  //font-size: 1em;
}

.mce-statusbar {
  border-top: 1px solid #dcdcde;
}

.mce-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #b5bcc2;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.mce-toolbar .mce-ico {
  font-family: dashicons !important;
  font-size: 20px !important;
}
