/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  BUTTONS
  Overrides default Woocommerce
  button styles
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.woocommerce {

  #respond input#submit,
  a.button,
  button.button,
  input.button {

    // Make consistent with Jellyfish...
    padding: $button-padding;
    text:{
      decoration: none;
      transform: $button-text-transform;
      align: center;
    }
    font:{
      size: 0.9rem;
      weight: $button-font-weight;
    }
    border:{
      width: $button-border-width;
      style: solid;
      radius: $button-border-radius;
    }


    @include create_button($color-text-light);

    &.alt {
      @include create_button($color-primary);
    }

    &.single_add_to_cart_button,
    &.checkout-button,
      {
      @include create_button($color-success);

    }

    &.disabled,
    &.disabled.alt,
    &:disabled {
      opacity: 1;
      @include create_button($button-disabled-background);

      &:hover {
        background-color: $button-disabled-background !important;
      }
    }
  }
}
