/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  ON SALE
  Overrides default Woocommerce
  on sale styles
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.woocommerce {
  span.onsale {
    background-color: $color-primary;
    min-height: 50px;
    min-width: 50px;
  }
}
