/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TABS
  Overrides default Woocommerce
  tab styles
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.woocommerce {
  div.product {
    .woocommerce-tabs {
      ul.tabs {

        margin: 0 0 $element-margin 0;

        &::before {
          border-bottom: $borders;
        }

        li {
          border: $borders;
          background-color: $color-background-alt;
          border-radius: $border-radius $border-radius 0 0;

          &::after {
            border-bottom-left-radius: $border-radius;
          }

          &::before {
            border-bottom-right-radius: $border-radius;
          }

          a {
            color: tint($color-text, 80%);

            &:hover,
            &:active,
            &:focus {
              color: $color-text;
            }
          }
        }
      }
      @include below(768px){
        // Make additional product information look better on smaller devices
        // Match WooCommerce breakpoint
        background-color: tint($color-background-alt, 50%);
        .panel {
          border-bottom: $borders;
          padding: 0 $element-padding;
        }
        ul.tabs {
          padding: 0;
          li {
            display : block !important;
            &::before, &::after {
              display: none;
            }
            &.active {
              border-bottom-color: $border-color;
            }
          }
        }
      }
    }
  }
}
